.vertical-bar {
  width: 2px;
  background-color: black;
  height: 100px;
  opacity: 0.3;
  margin-left: 50%;
}

.landing-page {
  margin-top: 25%;
}

.landing-page-text-header {
  margin-bottom: 45px;
}

.flash-stage {
  margin-top: 15px;
  position: absolute;
  width: 100%;
}

.main-content {
  margin-top: 15px;
}

body, html {
  height: 100%;
}