extends ../layout

block content
  .container(style="width: 65%")
    include ../_flash_stage
    .main-content
      .row
        .col-md-10
          h1 Courses
        .col-md-2
          a.btn.btn-default(href='/admin/course/new') + Add Course
        .col-md-11 
          .table-responsive
            table.table
              thead
                tr
                  td 
                    h3 Course
              each course in courses
                tr
                  td
                    a(href='/admin/course/edit/#{course.id}') #{course.course_code} - #{course.section} - #{course.session}
        