extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      if course.already_dumped
        include ./_course_labels
      else
        include ./_course_form