extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        ul
          li
            a(href='/admin/users') Users
          li
            a(href='/admin/courses') Courses

