extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        ul
          li
            a(href='/admin/users')= i18n('labelUsers')
          li
            a(href='/admin/courses')= i18n('labelCourses')

