extends ../layout


block content
    include ../_flash_stage
    .container(style="width: 65%")
      row(style="padding-bottom:15px;")
       .col-md-8
          h1 Admin Panel
    .container(style="width: 35%; min-height: 400px;").topSpace1
        .row
          ul.nav.nav-pills.nav-stacked
            li.btn
              a(href='/admin/users')= i18n('labelUsers')
            li.btn
              a(href='/admin/courses')= i18n('labelCourses')

