extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      include ../_account_controls
      .row
        form.form-horizontal(method='POST', action='/admin/user/create', id='new-user')
          .form-group
            input.form-control(type='text', placeholder='email', name='email')
          .form-group
            input.form-control(type='text', placeholder='first names', name='first_names')
          .form-group
            input.form-control(type='text', placeholder='last names', name='last_names')
          .form-group
            input.form-control(type='number', placeholder='last four digits of SSN', name='SSN4')
          .form-group
            select.form-control(form='new-user', name='role')
              - var roles = ['admin', 'professor'];
              for role in roles
                if user.role === role
                  option(selected='true') #{role}
                else
                  option #{role}
          .form-group
            button.btn.btn-default(type='submit') Add User
          input(type='hidden', name='_csrf', value='#{_csrf}')