extends ../layout

block content
  .container(style="width: 65%")
    include ../_flash_stage
    .main-content
      .row
        .col-md-10
          h1 Users
        .col-md-2
          a.btn.btn-default(href='/admin/user/new') + Add User
        .col-md-11
          .table-responsive
            table.table
              thead
                tr
                  td 
                    h3 Email
                  td 
                    h3 Priviledges
              each user in users
                tr
                  td
                    a(href='/admin/user/edit/#{user.id}') #{user.email}
                  if user.role === 'admin'
                    td= i18n('labelAdmin')
                  else
                    td= i18n('labelProfessor')
        