.row
  .container
    .col-md-12
      - var flashes = req.flash();
      if Object.keys(flashes).length > 0
        .flash-stage
          if flashes.success
            .alert.alert-dismissable.alert-success= i18n(flashes.success[0])
              button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          else if flashes.danger
            .alert.alert-dismissable.alert-danger= i18n(flashes.danger[0])
              button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;