!!!
html
  head
    title WEPA!
    meta(name='viewport', content='width=device-width, initial-sace=1, maximum-scale-1')
  body
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/sails.io.js')
    script(type='text/javascript', src='/js/app.js')
