!!!
html
  head
    title UPR:RP - GES
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css")

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/beautiful.css")
    // STYLES END
  body
    .navbar.navbar-default.header
        a(href='/')
            img(src='/linker/images/logo3.png' width=170)
        if req.path !== "/"
            include ./_account_controls
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    // SCRIPTS
    
    // SCRIPTS END
    .panel-footer(style="padding-top:2%;")
        p(style="text-align:center; color:#666;") This application is in its Alpha version. 2013 &copy Computer Science Department

