tbody
  each grade in grades
    tr
      td= grade.student_number
      if gradeType === 0
        if grade.value === 'w'
          td
            h1= i18n('withdrewLabel')
        else
          td
            if grade.value === 'a'
              input(type='radio', name= grade.grade_id, value='A' checked)
            else
              input(type='radio', name= grade.grade_id, value='A')
          td
            if grade.value === 'b'
              input(type='radio', name= grade.grade_id, value='B' checked)
            else
              input(type='radio', name= grade.grade_id, value='B')
          td
            if grade.value === 'c'
              input(type='radio', name= grade.grade_id, value='C' checked)
            else
              input(type='radio', name= grade.grade_id, value='C')
          td
            if grade.value === 'd'
              input(type='radio', name= grade.grade_id, value='D' checked)
            else
              input(type='radio', name= grade.grade_id, value='D')
          td
            if grade.value === 'f'
              input(type='radio', name= grade.grade_id, value='F' checked)
            else
              input(type='radio', name= grade.grade_id, value='F')
          td
            if grade.value === 'x'
              input(type='radio', name= grade.grade_id, value='X' checked)
            else
              input(type='radio', name= grade.grade_id, value='X')
          td
            if grade.incomplete
              input(type='checkbox', name= grade.grade_id + ':inc' checked)
            else
              input(type='checkbox', name= grade.grade_id + ':inc')
      else if gradeType === 1
        if grade.value === 'w'
          td
            h1= i18n('withdrewLabel')
        else
          td
            if grade.value === 'ps'
              input(type='radio', name= grade.grade_id, value='PS' checked)
            else
              input(type='radio', name= grade.grade_id, value='PS')
          td
            if grade.value === 'pn'
              input(type='radio', name= grade.grade_id, value='PN' checked)
            else
              input(type='radio', name= grade.grade_id, value='PN')
          td
            if grade.value === 'pb'
              input(type='radio', name= grade.grade_id, value='PB' checked)
            else
              input(type='radio', name= grade.grade_id, value='PB')
          td
            if grade.value === 'p'
              input(type='radio', name= grade.grade_id, value='P' checked)
            else
              input(type='radio', name= grade.grade_id, value='P')
          td
            if grade.value === 'np'
              input(type='radio', name= grade.grade_id, value='NP' checked)
            else
              input(type='radio', name= grade.grade_id, value='NP')
          td
            if grade.value === 'x'
              input(type='radio', name= grade.grade_id, value='X' checked)
            else
              input(type='radio', name= grade.grade_id, value='X')
          td
            if grade.incomplete
              input(type='checkbox', name= grade.grade_id + ':inc' checked)
            else
              input(type='checkbox', name= grade.grade_id + ':inc')
      else if gradeType === 2
        if grade.value === 'w'
          td
            h1= i18n('withdrewLabel')
        else
          td
            if grade.value === 'p'
              input(type='radio', name= grade.grade_id, value='P' checked)
            else
              input(type='radio', name= grade.grade_id, value='P')
          td
            if grade.value === 'np'
              input(type='radio', name= grade.grade_id, value='NP' checked)
            else
              input(type='radio', name= grade.grade_id, value='NP')
          td
            if grade.value === 'x'
              input(type='radio', name= grade.grade_id, value='X' checked)
            else
              input(type='radio', name= grade.grade_id, value='X')
          td
            if grade.incomplete
              input(type='checkbox', name= grade.grade_id + ':inc' checked)
            else
              input(type='checkbox', name= grade.grade_id + ':inc')