extends ../layout

block content
  .container
    include ../_flash_stage
    .main-content
      h1 Your courses
      table.table
        thead
          tr
            th Course code
            th Section
        each course in courses
          tr
            td
              a(href='/course/' + course.id)= course.course_code
            td= course.section

