extends ../layout

block content
  .container
    if typeof flash !== 'undefined'
      .row.flash-stage
        if flash.result
          .alert.alert-dismissable.alert-success= flash.message
            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
        else
          .alert.alert-dismissable.alert-danger= flash.message
            button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
    .row
      .col-md-12
        h1 Please choose a good password!
        form.form-horizontal(method='POST', action='/password/change?token=#{token}')
          .form-group
            input.form-control(type='password', placeholder='new password', name='password')
          .form-group
            button.btn.btn-default Change Password
          input(type='hidden', name='_csrf', value='#{_csrf}')